<div class="card" style="width: 30rem;">
  <ul class="list-group list-group-flush" id="all-posts"> 
      <li class="list-group-item">
        <h5><strong><%= @post.title %></strong> by <%= @user.name %></h5>
        <div class="d-flex flex-row statistics">            
          <p>Comments: <%= @post.comments_counter %></p>
          <p>Likes: <%= @post.likes_counter %></p>
        </div>
      </li>
      <li class="list-group-item"><%= @post.text %></li>
      <li>
        <p><strong>Comments:</strong></p>
        <% @post.most_recent_five_comments.each do |c| %>
          <p><strong><%= c.user.name %></strong>: <%= c.text %></p>
        <% end %>
      </li>
  </ul>
  <div class="card-body d-flex flex-row" id="navigate">
    <%= link_to 'Back', users_path(@user), class: 'btn btn-lg btn-danger' %>
  </div>
</div>