<!DOCTYPE html>
<html>
  <head>
    <title>MyVisionOfLife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'users.css' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-fluid mb-3" style="background-color: #6D5D6E;">
      <h1>Welcome to my Vision of Life</h1>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
